
table {
  width: 80%;
  margin: 50px auto;
  border-collapse: collapse;
  text-align: center;
  font-family: Arial, sans-serif;
  border: 4px solid black; 
}

th {
  font-weight: bold;
}


th {
  font-weight: bold;
  border: 2px solid black;
  padding: 10px;
  font-size: 16px;
}

td {
  border-left: 2px solid black;
  border-right: 2px solid black;
  padding: 10px;
  font-size: 16px;
  border-top: none;
  border-bottom: none;
}
